.block{
    background-color: blue;
    margin: 20px;
    padding: 5px;
}
.block1 ,.block2 , .block3,.block4{
    margin: 10px;
    padding: 10px;
    background-color: aqua;
}
#im1,#im3{
    height: 150px;
    width: 150px;
    float: left;
    margin: 10px;
}
#im2,#im4{
    height: 150px;
    width: 150px;
    float: right;
    margin: 10px;
}