html{
    font-size: 150%;
}
body{
    text-align: center;

} 
@media screen and (max-width:1000px) and (min-width:601px) {
    .blocks{
        padding: 10px;
        background-color: black;
        color:white;
        display: flex;
        flex-wrap: wrap;
    }
    .box{
        width: 50%; 
    }

     
}

@media screen and (max-width:600px) {
    .blocks{
        padding: 10px;
        background-color: blue;
        color:skyblue;
    }
    .box{
        width: 100%; 
    }
     
}
@media screen and (min-width:1001px) {
    .blocks{
        padding: 10px;
        background-color: yellow;
        color: red;
        display: flex;
        align-items: center;
        
    }
    .box{
        width: 100%; 
    }

}
