*{
    box-sizing: border-box;
}
body{
    font-family: cursive;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: aqua;
    padding: 5px 20px 15px 20px;
    border: 1px solid blue;
    border-radius: 4px;
}
input[type="text"],
input[type="email"]
select,
textarea{
    
    width: 100%;
    padding: 12px;
    border: 1px solid #b00f0f;
}
#main_h1{
    text-align: center  ;

}
input[type="submit"]{
    background-color: green;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}