nav a{
    text-decoration: none;
    color:aqua;
    text-align:center ;
    padding: 20px;
    float: left;
}
nav{
    background-color: blue;
    overflow: hidden;
}
nav a:hover{
    color: tomato;
}
nav a:visited{
    color: black;
}